.page.navbar-1-page {
  color: #faf9f5;
  font-family: "Euclid Circular A", "Poppins";
  padding-top: 72px;
  margin: 0;
  z-index: 3;
}

.navbar-1 > img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.navbar-1 {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  translate: 0 -72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
  width: 100%;
  height: 72px;
  background: var(--nav-background);
  transition: 0.3s;
}

.navbar-1.visible {
  top: 0;
  translate: 0;
  border-bottom: 1px solid var(--border);
}

.navbar-1 .nav-items {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-1 .nav-items > a {
  text-decoration: none;
  font-weight: 400;
  color: rgb(255 255 255 / 96%);
  height: 72px;
  display: grid;
  place-items: center;
}

.navbar-1 .nav-items > a:hover {
  color: rgb(255 255 255 / 30%);
}

.page.navbar-1-page h2 {
  font-size: 20px;
  margin: 0 0 4px;
  cursor: default;
}

.page.navbar-1-page section {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 100px 60px;
}

.page.navbar-1-page p {
  opacity: 0.6;
}

.page.navbar-1-page section.shaded {
  background: #0e0e11;
}

.page.navbar-1-page section > img {
  width: 200px;
  height: 200px;
}

.page.navbar-1-page section.shaded > img {
  padding: 20px;
}

.page.navbar-1-page section > p {
  line-height: 1.7;
}
