@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-container {
  width: 100%;
  color: var(--light-letters);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
button,
li {
  all: unset;
  font: inherit;
}
a,
button {
  cursor: pointer;
}

footer {
  padding: 3.5rem clamp(3rem, 6vw, 14rem);
}
.footer-wrapper {
  max-width: 90rem;
  margin: 0 auto;
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
  margin-top: 4rem;
}

.footer-container .social-container {
  margin-top: 3rem;
}

@media (width <= 53rem) {
  .footer-subscribe {
    max-width: 100%;
  }
}